<main role="main" class="container">
	<%= if get_flash(@conn, :info) do %>
		<div class="alert alert-error bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4" role="alert">
		  <p><%= get_flash(@conn, :info) %></p>
		</div>
	<% end %>

	<%= if get_flash(@conn, :error) do %>
		<div class="alert alert-error bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">
		  <p><%= get_flash(@conn, :error) %></p>
		</div>
	<% end %>

  <%= @inner_content %>
</main>
